flows_sencer_laptop.json
[{"id":"c1dea01f.43e37","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18e379a.0360e86","type":"inject","z":"c1dea01f.43e37","name":"ss","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":160,"wires":[["5f9904b9.29046c","fb31d03f.a83fc"]]},{"id":"4689dbe9.f241d4","type":"inject","z":"c1dea01f.43e37","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":300,"wires":[[]]},{"id":"5f9904b9.29046c","type":"debug","z":"c1dea01f.43e37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":140,"wires":[]},{"id":"7319fb7d.29f414","type":"uibuilder","z":"c1dea01f.43e37","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":355.5,"y":414,"wires":[[],[]]},{"id":"fb31d03f.a83fc","type":"ui_slider","z":"c1dea01f.43e37","name":"","label":"slider","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":10,"step":1,"x":742.1000366210938,"y":246.60000610351562,"wires":[[]]}]